<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Positioning App</title>
  </head>
  <body translate="no">
      <div id="JointLabelContainer">
        Joint1: <span id="joint1label"></span>
        Joint2: <span id="joint2label"></span>
        Joint3: <span id="joint3label"></span>
        Joint4: <span id="joint4label"></span>
        Joint5: <span id="joint5label"></span>
        Joint6: <span id="joint6label"></span>
      </div>
    
      <div id="sliderContainer">
        <input type='range' min='-180' max='180' value='0' />
        <input type='range' min='-180' max='180' value='0' />
        <input type='range' min='-180' max='180' value='0' />
        <input type='range' min='-180' max='180' value='0' />
        <input type='range' min='-180' max='180' value='0' />
        <input type='range' min='-180' max='180' value='0' />
      </div>
    </body>
    </html>
</html>