<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Positioning App</title>
  </head>
  <body translate="no">
      <div id="JointLabelContainer">
        Joint1: <input type="number" id="jointPositionInput1" min="-180" max="180" value="{{ (jointPose.joint_value[0]*57.296)|round|int }}" onchange="jointPositionInputUpdate(1)"/>
        Joint2: <input type="number" id="jointPositionInput2" min="-180" max="180" value="{{ (jointPose.joint_value[1]*57.296)|round|int }}" onchange="jointPositionInputUpdate(2)"/>
        Joint3: <input type="number" id="jointPositionInput3" min="-180" max="180" value="{{ (jointPose.joint_value[2]*57.296)|round|int }}" onchange="jointPositionInputUpdate(3)"/>
        Joint4: <input type="number" id="jointPositionInput4" min="-180" max="180" value="{{ (jointPose.joint_value[3]*57.296)|round|int }}" onchange="jointPositionInputUpdate(4)"/>
        Joint5: <input type="number" id="jointPositionInput5" min="-180" max="180" value="{{ (jointPose.joint_value[4]*57.296)|round|int }}" onchange="jointPositionInputUpdate(5)"/>
        Joint6: <input type="number" id="jointPositionInput6" min="-180" max="180" value="{{ (jointPose.joint_value[5]*57.296)|round|int }}" onchange="jointPositionInputUpdate(6)"/>
      </div><br />
      <div id="buttonContainer">
        <button type="button" onClick="document.location.reload(true)">Reset to current</button>
        <button type="button" onclick="updateJointValues()">Move Manipulator</button>
      </div>
    
      <div id="sliderContainer">
        <input id="slider1" type='range' min='-180' max='180' value='{{ jointPose.joint_value[0]*57.296 }}' onchange="jointPositionSliderUpdate(1)" />
        <input id="slider2" type='range' min='-180' max='180' value='{{ jointPose.joint_value[1]*57.296 }}' onchange="jointPositionSliderUpdate(2)" />
        <input id="slider3" type='range' min='-180' max='180' value='{{ jointPose.joint_value[2]*57.296 }}' onchange="jointPositionSliderUpdate(3)" />
        <input id="slider4" type='range' min='-180' max='180' value='{{ jointPose.joint_value[3]*57.296 }}' onchange="jointPositionSliderUpdate(4)" />
        <input id="slider5" type='range' min='-180' max='180' value='{{ jointPose.joint_value[4]*57.296 }}' onchange="jointPositionSliderUpdate(5)" />
        <input id="slider6" type='range' min='-180' max='180' value='{{ jointPose.joint_value[5]*57.296 }}' onchange="jointPositionSliderUpdate(6)" />
      </div>
    </body>
      <script>
        function jointPositionInputUpdate(input) {
          document.getElementById('jointPositionInput'+ input).style.color = 'blue';
          document.getElementById('slider'+ input).value=document.getElementById('jointPositionInput'+ input).value;
        }
      </script>
      <script>
        function jointPositionSliderUpdate(input) {
          document.getElementById('jointPositionInput'+ input).style.color = 'blue';
          document.getElementById('jointPositionInput'+ input).value=document.getElementById('slider'+ input).value;
        }
      </script>
      <script>
        function updateJointValues() {
          // POST
          fetch('/setJointAngles', {
          method: 'POST',
          body: JSON.stringify({
              "joint1": "0"
          })
          }).then(function (response) { 
          return response.text();
          }).then(function (text) {
          console.log('POST response: ');
          console.log(text);
          });
        }
      </script>
    </html>
</html>