<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Positioning App</title>
  </head>
  <body translate="no">
      <div id="JointLabelContainer">
        Joint1: <span id="joint1label">{{ (jointPose.joint_value[0]*57.296)|round|int }}</span>
        Joint2: <span id="joint2label">{{ (jointPose.joint_value[1]*57.296)|round|int }}</span>
        Joint3: <span id="joint3label">{{ (jointPose.joint_value[2]*57.296)|round|int }}</span>
        Joint4: <span id="joint4label">{{ (jointPose.joint_value[3]*57.296)|round|int }}</span>
        Joint5: <span id="joint5label">{{ (jointPose.joint_value[4]*57.296)|round|int }}</span>
        Joint6: <span id="joint6label">{{ (jointPose.joint_value[5]*57.296)|round|int }}</span>
      </div>
    
      <div id="sliderContainer">
        <input type='range' min='-180' max='180' value='{{ jointPose.joint_value[0]*57.296 }}' />
        <input type='range' min='-180' max='180' value='{{ jointPose.joint_value[1]*57.296 }}' />
        <input type='range' min='-180' max='180' value='{{ jointPose.joint_value[2]*57.296 }}' />
        <input type='range' min='-180' max='180' value='{{ jointPose.joint_value[3]*57.296 }}' />
        <input type='range' min='-180' max='180' value='{{ jointPose.joint_value[4]*57.296 }}' />
        <input type='range' min='-180' max='180' value='{{ jointPose.joint_value[5]*57.296 }}' />
      </div>
    </body>
    </html>
</html>